button {
  font-size: var(--font-s-regular);
  padding: 0.4rem 1.5rem;
  border-radius: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  text-transform: uppercase;
}
