footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg-footer);
}

.nav_wrapper {
}

.nav_list {
  justify-content: center;
}

.footer_img {
  height: inherit;
}

.logo {
  display: flex;
  align-items: start;
  width: 100%;
  padding: 70px 10% 0;
}

.horizontal {
  border: 1px solid black;
  margin-bottom: 70px;
  width: 80%;
}
