.anchor_button {
  font-size: var(--font-s-regular);
  padding: 0.4rem 1.5rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 15px;
}

.anchor_button:hover {
  transition: 0.3s;
  background-color: var(--color-bg-ochre);
}

.anchor_button:active {
  transition: 0.3s;
  background-color: var(--color-bg-transparent);
}
